# Build results
bin/
obj/
publish/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
**/packages/*

# Build artifacts
*.dll
*.exe
*.pdb
*.cache

# IDE specific
.idea/
*.csproj.user
